 <!-- //footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Liên Hệ</h3>

                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>280 An Dương Vương Q5, <span>TPHCM.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:nmchauhcmue@gmail.com">nmchauhcmue@gmail.com</li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><a href="tel:0398365404">+84 398 365 404</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Thông Tin</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">About Us</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Contact Us</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Short Codes</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">FAQ's</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Special Products</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Loại SP</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Groceries</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Household</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Personal Care</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#l">Packaged Foods</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="#">Beverages</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Hồ Sơ</h3>
                <ul class="info">
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="/">Store</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="~/CartItem">My Cart</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="~/Login">Login</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="~/User/Create">Create Account</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i><a href="~/Admin/Login/Index">Admin Login</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>

    <div class="footer-copy">

        <div class="container">
            <p>© <script type="text/javascript">document.write(new Date().getFullYear());</script> OnlineShop2. All rights reserved ❤️</p>
        </div>
    </div>

</div>
<div class="footer-botm">
    <div class="container">
        <div class="w3layouts-foot">
            <ul>
                <li><a href="https://www.facebook.com/nmc.name" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/nguyenminhchau_3110/" class="agile_twitter"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCoL7Uc3TAaBOvdx08DFcsUw" class="w3_agile_dribble"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/nguyen-minh-chau-87184320b/" class="w3_agile_vimeo"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="payment-w3ls">
            <img src="/Asset/Shop/images/card.png" alt=" " class="img-responsive">
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->