
@{
    ViewBag.Title = "Thanh Toán Lỗi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger text-center">Thanh toán thất bại. Vui lòng kiểm tra lại hoặc liên hệ quản trị viên. <a href="/">Về trang chủ</a></div>


